<template>
<div id="app">
  <my-header></my-header>
  <my-list></my-list>
</div>
</template>

<script>
import header from './header.vue'
import list from './list.vue'


export default {
  components: {
    'my-header': header,
    'my-list': list
  },
  beforeMount(){
     }
};
</script>

<style lang="css">
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: filter(blur(5px));
}
body h2 {
  text-transform: uppercase;
  font-size: 20px;
}
body p {
  margin: 0;
}
h1 {
  font-size: 30px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  margin-bottom: 50px;
  margin-left: 30px;
}
span {
  margin: 0 20px 10px;
}

h4 {
  margin: 20px 20px;
}



</style>


