<template>
<div class="wrapper">
    <div class="equipment_list">
    <vue-item v-for="product in loaded_products" :key="product.id" :product="product"></vue-item>
    </div>
</div>
</template>
<script>
import item from "./item.vue";
import axios from "axios";
import CatalogService  from './res-test.js';
export default {
  components: {
    "vue-item": item
  },

  beforeMount() {
    this.$store.dispatch("loadProducts").then(() => {
      this.loaded_products = this.$store.getters.getProducts;
    });
  },

  // data: () => ({
  //    loaded_products: []
  // }),
    computed: {
      loaded_products(){
        return this.$store.getters.getProducts
      }
    },




    
  // beforeMount() {
  //   this.$store.dispatch('loadProducts').then(() => {
  //      this.loaded_products = this.$store.getters.getProducts;
  //    });
  //   CatalogService.getData().then(response => {
  //     this.loaded_products = response.data.hits.hits.map(Y => Y._source);
  //   }).catch(error => {
  //   alert(error); 
  // });
 




  //  data: () =>({
  //      loaded_products: []
  //     }),

  //  beforeMount() {
  //  axios.get(`http://localhost:8079/api/catalog`).then(response=>{
  //    this.loaded_products = response.data.hits.hits;
  //   this.loaded_products = this.loaded_products.map(Y => Y._source)
  //     console.log(this.loaded_products)
  // })




  //    let self=this
  //    var xhr = new XMLHttpRequest();

  //    xhr.open("GET", "http://localhost:8079/api/catalog", true);

  //    xhr.send();

  //    xhr.onreadystatechange = function() {
  //      if (xhr.readyState != 4) return;
  //      if (xhr.status != 200) {
  //        alert("lol");
  //      } else {
  //      self.loaded_products = JSON.parse(xhr.responseText).hits.hits;
  //      self.loaded_products = self.loaded_products.map(Y => Y._source)
  //      console.log(self.loaded_products)
  //      }
  //    };
  // }
};
</script>

<style>
.wrapper {
  margin: 0 70px;
}

.wrapp_item {
  margin: 0 20px;
}

.equipment_list {
  display: flex;
  justify-content: space-around;
}
</style>

