<template>
    <header>
    <img src="/src/img/1.PNG" alt="">
    <h2>Выбор по типу оборудования</h2>
	</header>
</template>
<script>
export default {
}
</script>

<style lang="css">
header {
  position: relative;
  display: flex;
  align-items: center;
  background: #e7e7e5;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}
header img {
  height: 50px;
}
</style>

