<template>
 <vue-eqipment-list-item></vue-eqipment-list-item>
</template>
<script>
import equipment_list from './eqipment-list.vue'

export default {
    components: {
    'vue-eqipment-list-item': equipment_list
  },
}
</script>