<template>
 <div class="timer_box">
     <div class="timer">
       {{time.d}} : {{time.h}} : {{time.m}} {{product.stock}}ШТ
     </div>
        <div class="signature">{{day}}</div>
        <div class="signature">{{hour}}</div>
        <div class="signature">{{minute}}</div>
        <div class="signature">{{left}}</div>
</div>

</template>
<script>
export default {
  props: ["time", "product"],
  data() {
    return {
      day: "дней",
      hour: "часов",
      minute: "минут",
      left: "осталось"
    };
  },
  methods: {
    onload: function() {
      setInterval(() => {
        this.time.m-- ;
        if (this.time.m < 10) {
          this.time.m = "0" + this.time.m;
        }
        if (this.time.m == 0) {
          this.time.h--;
          this.time.m = 59;
          if (this.time.h < 10) {
            this.time.h = "0" + this.time.h;
          }
        }
        if (this.time.h == 0) {
          this.time.d--;
          this.time.h = 23;
          if (this.time.d < 10) {
            this.time.d = "0" + this.time.d;
          }
        }

      }, 60000);
    }
  },
  beforeMount() {
    this.onload();
  }
};
</script>   

<style>
.timer{
  display: flex;
  position: absolute;
  bottom: 10px;
  font-size: 25px;
  z-index: 3;
  font-weight: 900;
}
.timer_box,
.timer2_box,
.timer3_box {
  position: absolute;
  bottom: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 50px;
  width: 100%;
  background: #e1e1e1;
  border-radius: 10px;
  opacity: 0.9;
  z-index: 1;
}

.days,
.hours,
.minutes {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
}

.signature {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 10px;
    margin-left: 13px;
    margin-right: 7px;
  z-index: 3;
}
</style>

